.jumbo{
  background-image: url('https://wallpapercave.com/wp/wp3363181.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:12%;
  text-align: center;
}
#imageimage{
  width:350px;
  height:350px;
  border-radius: 12.5px;
  border:4px solid white;
}
#imageimage2{
  width:450px;
  height:400px;
  border-radius: 12.5px;
  border:4px solid white;
}
.colmddiv{
  padding:5%;
  padding-left: 100px;
}
.colmddiv2{
  padding:5%;
  padding-right: 100px;
}
.row1{
  margin-bottom:30px;
}
.jumbo2{
  background-image: url('https://wallpapercat.com/w/full/c/6/9/810463-1920x1080-desktop-1080p-john-marston-wallpaper-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding:12%;
  text-align: center;
}
.colmddiv3{
  padding:5%;
  padding-left: 100px;
}
.colmddiv4{
  padding:5%;
  padding-right: 100px;
}
.colmddiv5{
  padding:5%;
  padding-left: 100px;
}
.colmddiv6{
  padding:5%;
  padding-right: 100px;
}
#imageimage3{
  width:380px;
  height:420px;
  border-radius: 12.5px;
  border:4px solid white;
}
.rowrow{
  margin-bottom:30px;
}
.jumbo3{
  background-image: url('https://images4.alphacoders.com/177/177796.jpg');
  padding:260px;
  position:relative;
}
#imageimage4{
  width:400px;
  height:400px;
  border-radius: 12.5px;
  border:4px solid white;
}
p{
  width:800px;
}